#contact {
  padding-bottom: 0 !important;
  font-family: Italic;
}
#contact .contact-map iframe {
  border-radius: 10px;
  overflow: hidden;
  width: 500%;
  height: 200px;
}
#contact .contact-direct {
  margin-bottom: 15px;
}
#contact .contact-direct .item {
  display: flex;
  align-items: center;
}
#contact .contact-direct .item p {
  border-left: 1px solid lightgrey;
  padding-left: 20px;
  margin: 0;
}
#contact .contact-direct .item span {
  color: #ff6e36;
  font-size: 24px;
  padding: 20px;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, transparent, rgba(203, 100, 61, 0.92));
  border-radius: 6px;
}
